#ignore .root files
*.root

# ignore all .pdf files
*.pdf

# ignore all .txt files
*.txt

# ignore all images
*.jpg
*.jpeg
*.png
*.zip

# ignore all .xml files
*.xml

#ignore specific files
*.pkl

#ignore directories
/calImages/
/jet-detection_inception/
/jet-detection_resnet50/
/jet-detection_resnet101/
/labelImg/
/object-detection_resnet101/
/Papers/
/Pres/
/Pruebas/rnn-tutorial/
/Pruebas/SegNet_PyTorch-master
